extends be_base 

block content 

	main.admin__home--main.container 
		section.admin__home--grid 
			.admin__home--box
				h3 Users 
				p Add/ Edit Delete Users 
				a(href="/admin/be_user-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Products 
				p Add/ Edit Delete Products 
				a(href="/admin/be_products-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Categories 
				p Add/ Edit Delete Categories 
				a(href="/admin/be_category-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Orders 
				p Add/ Edit Delete Orders 
				a(href="/admin/be_order-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Transactions 
				p Add/ Edit Delete Transactions 
				a(href="/admin/be_transaction-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Discounts 
				p Add/ Edit Delete Discounts 
				a(href="/admin/be_discount-list" class='admin__home--link') Select 