
extends base_header

block content 

	main.sm-container
	
		h2.resetPassword-heading.mrgbtm--lg  Reset Password
		
		section.resetPassword
			.resetPassword--form-box
				form#reset-password-form.reset-password-form
					.reset-password-row
						label(for="resetPassword") Email:
						input#reset-password-email(type="email" name='resetPassword' placeholder='you@email.com' , required)
					.reset-password-btn-box
						button#reset-password-btn.reset-password-btn(type='submit') Submit 