
extends base

block content 

	main.container
	
		section.servicesPage
		
			.servicesPage-heading-box

				h2.servicesPage--heading Services
				p Clean, fast websites for local businesses — no WordPress, no templates.
				.servicesPage--link
					a(href="#" class='services-cta')  Take Your First Step ▶
				p Local support • Built for you • You own it
				
		section.servicesPage-boxes
		
			.servicePage--grid
			
				.servicePage--box
			
					.servicePage--box-heading--box
						.servicePage--box-heading--icon
							img(src="/img/icons/scroll.svg" class="servicesPage-icon" alt="")
						.servicePage--box-heading--text
							h3.servicePage--box-heading One-Page Starter Site

					.servicePage--box-details--box
						p.servicePage--box-details For tradies/solo operators that need something live quickly.
						ul.servicePage--box-includes
							li Mobile-first layout
							li Contact form
							li Basic SEO setup
						.servicePage--box-details--box-link
							a.servicePage--box-link(href="/static/contact") Ask about this →
			
				.servicePage--box
			
					.servicePage--box-heading--box
						.servicePage--box-heading--icon
							img(src="/img/icons/files.svg" class="servicesPage-icon" alt="")
						.servicePage--box-heading--text
							h3.servicePage--box-heading Multi-Page Business Site

					.servicePage--box-details--box
						p.servicePage--box-details For businesses with multiple services or a bigger pitch.
						ul.servicePage--box-includes
							li Mobile-first layout
							li Contact form
							li Basic SEO setup
						.servicePage--box-details--box-link
							a.servicePage--box-link(href="/static/contact") Ask about this →
			
				.servicePage--box
			
					.servicePage--box-heading--box
						.servicePage--box-heading--icon
							img(src="/img/icons/magnifying-glass.svg" class="servicesPage-icon" alt="")
						.servicePage--box-heading--text
							h3.servicePage--box-heading Local SEO Setup

					.servicePage--box-details--box
						p.servicePage--box-details For businesses that want to show up in local search.
						ul.servicePage--box-includes
							li Mobile-first layout
							li Contact form
							li Basic SEO setup
						.servicePage--box-details--box-link
							a.servicePage--box-link(href="/static/contact") Ask about this →
						
			