extends base_header

block content 

	main.sm-container
	
		h2.resetPassword-heading.mrgbtm--lg  Set New Password
		
		section.resetPassword
			.resetPassword--form-box
				form#set-new-password-form.reset-password-form
					.reset-password-row
						label(for="password") New Password:
						input#set-new-password(type="password" name='password' placeholder='New Password' , required)
					.reset-password-row
						label(for="passwordConfirm") Password Confirm:
						input#confirm-new-password-email(type="password" name='passwordConfirm' placeholder='Confirm Password' , required)
					.reset-password-btn-box
						button#set-new-password-btn.reset-password-btn(type='submit') Submit 